---
title: "I am a Rust developer"
author: "OIIA CAT"
answer_type: "text"
answer: "I am a Rust developer"
---

Enter "I am a Rust developer"

```rust
async fn main() {
  println!("I am a Rust developer");
  Ok(())
}
```
